/** Style Profile Routes**/

.text-area-route{
    border-radius: 30px;
}
.h5-orange{
    color: #eb5d11 !important;
    margin-bottom: 60px;
}

.h5-orange-list-routes{
    color: #eb5d11 !important;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: x-large;
    margin-bottom: 30px;
}

#custom-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 84%);
    z-index: 999999;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
}

#custom-loading-overlay i{
    font-size: 40px;
    color: #ffffff;
}

#custom-loading-overlay p{
    font-size: 20px;
    color: #ffffff;
}

.swal2-container.swal2-center.swal2-backdrop-show {
    z-index: 9999;
}

.swal2-container h2 {
    line-height: inherit !important;
}

.btn.btn-primary {
    background-color: #eb5d11;
    border-color: #eb5d11;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    font-family: inherit;
}

.card-route{
    border-radius: 30px;
    background-color: #f6f7e6;
}
.img-perfil-routes {
    margin-top: -95px;
    border: 6px solid #f2f2f2;
    width: 180px;
    height: 180px;
    background: #f2f2f2;
}

.text-my-perfil-route{
    padding-left: 4rem;
    padding-right: 3rem;

}

.card-img-radius{
    border-radius: 30px 30px 0px 0px;
}
.card{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2.25rem;
}
.column-perfil-routes{
    margin-top: -150px;
    background-color: #f2f2f2;
    z-index: 8000;
}
.h5-green{
    color: #a8b504 !important;
    font-family: Arial black, Helvetica, sans-serif;

}

.input-search{
    border-radius: 5px !important;
    width: 300px;
}

.btn-routes-primary{
    color: #ffffff !important;
    background-color: #eb5d11;
    border-color: #eb5d11;
    font-family: Yanone Kaffeesatz,sans-serif;
}

.btn-routes-primary:hover{
    background-color: #515151;
  
}

.custom-image-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.custom-image-profile.banner-image {
    width: 300px;
    border-radius: 10px;
}

.btn-secondary {
    background-color: #4b5664 !important;
}

.btn-primary {
    background-color: #ea5c12 !important;
}

.btn-info {
    background-color: #ab2f0c !important;
}

.container-activity {
    background: #f8f8f8;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}

.show-password {
    position: absolute;
    right: 25px;
    top: 16px;
    font-size: 17px;
    cursor: pointer;
}

.password-container {
    position: relative;
}

@media(max-width: 767px){
    .img-perfil-routes {
	margin-top: -90;    
}   
.column-perfil-routes{
    margin-top: 0;
    margin-bottom: 50px;
}
.content-profile-one{
    flex-direction: column-reverse;

}
}

/** Style Carrusel Page Company*/

.wrapper i{
    top: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 2.2rem;
    text-align: center;
    line-height: 46px;
    color: #eb5d11;
    border-radius: 50%;
    transform: translate(-80%);
}
.wrapper i:first-child{
    position: absolute;
    left: 15px;
    right: auto;
    top: 89px;
    z-index: 1;
}
.wrapper i:last-child{
    position: absolute;
    right: 15px;
    left: auto;
    top: 89px;
    z-index: 2;
}
.carousel-list img{
    margin-right: 11px; /* Espacio entre las imágenes */
    max-width: 100%;
    height: auto;
}
.carousel img:first{
    margin-left: 3px;
}

@media (max-width: 767px) {
.wrapper i:first-child {
    left: -5px;
    top: 55px; 
}

.wrapper i:last-child {
    right: -60px; 
    top: 55px;
}
.wrapper i{
    font-size: 3.2rem;
}
}


@media (min-width: 768px) and (max-width: 1023px) {
.wrapper i:first-child {
    left: -5px; 
    top: 125px;
}

.wrapper i:last-child {
    right: -70px; 
    top: 125px;
}
.wrapper i{
    font-size: 3.8rem;
}
}


@media (min-width: 1024px) {
.wrapper i:first-child {
    /* left: 15px;  */
    left: -12px; 
    right: auto; 
}

.wrapper i:last-child {
    /* right: -40px;  */
    right: -73px; 
    left: auto; 
}
.wrapper i{
    font-size: 3.2rem;
}
}

.label-prefix{
    font-size: large;
}
.h1-information{
    color: #eb5d11 !important;
    margin-top: 0.5rem;
}
.fa-icon-travel{
    color: #a8b504;
    font-size: 22px !important;
    
}
.custom-image-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) and (max-width: 992px){
    .h1-information{
        font-size: 38px;
        margin-bottom: 40px;
    }
    .img-profile-company{
        margin-top: 30px;
    }
}
/** Styles view t_page_view route*/

.route_short_description{
    font-size: 1.286em;
    font-weight: 400;
    line-height: 1.786em;
    font-style: normal;
    color: #4b5664;
    margin-bottom: 0.5rem;
}
.img-same-height {
    height: 100%;
    border-radius: 4px;
}
.span-reserva{
    color: #40c351;
    font-size: xx-large;
}     
#float-whatsapp-route{
    border-radius: 22px; 
    position: fixed; 
    bottom: 85px; 
    right: 15px; 
    z-index: 20000; 
    background-color: #40c351; 
    width: 150px; 
    height: 45px; 
    color: #ffffff !important; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.room-content-route p{
margin-bottom: 4px;
}     

.outer-circle {
        width: 70px;
        height: 70px;
        background-color: #EDBB99;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

.inner-circle {
    width: 35px;
    height: 35px;
    background-color: #EB5D11; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.number {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.title-route{
    color:#eb5d11 !important;
}
@media (max-width: 768px ){
.title-sm {
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    font-size: 35px !important;
}
.outer-circle {
    width: 60px;
    height: 60px;
}
.inner-circle {
    width: 30px;
    height: 30px;
}

}
@media (max-width: 479px){
    .title-route{
        font-size: 21px !important;
    }
}

.room-title-link:hover{
    color:#EB5D11 !important;
}
.room-title{
    color:#4b5664 !important;
}
